    <header>
        <img src="/images/headerlogo01.png" alt="My Profile Logo">
        <h1>Lots to Tell</h1>
    </header>
    <nav>
        <ul>
            <li><button id="btn-home">+ Home</button></li>
            <li><button id="btn-about">+ About</button></li>
            <li><button id="btn-portfolio">+ Portfolio</button>
                <ul id="submenu">
                    <li><a href="/dragdrop">+ Drag And Drop</a></li>
                    <li><a href="/chat">+ Live Chat Room</a></li>
                    <li><a href="/ajax">+ AJAX: Book Records</a></li>
                    <li><a href="/api/users">+ CRUD using MongoDB</a></li>
                </ul>
            </li>
            <li><button id="btn-contact">+ Contact</button></li>
        </ul>
    </nav>